@page
@{
    ViewData["Title"] = "Bibliography";
}

<h1>Bibliography</h1>
<!DOCTYPE html>
<html>
<body>

    <ul style="list-style-type:none;">
        <li>Website: N.P.S.   www.NPS.gov</li>
        <li>Website: 6 Reason why N.P.’s matter for health, www.rwjf.org</li>
        <li>Website: 5 Ways You Helped Improve National Park Air, www.npca.org</li>
        <li>Website: Dictionary, www.dictionary.com</li>
        <li>Book: N.P.’s Guide USA, Sarah Wessner Flynn and Julie Beer</li>
    </ul>

</body>
</html>
