@page
@{
    ViewData["Title"] = "Bibliography";
}

<style>
    a {color:cornflowerblue;}
</style>

<h1>Bibliography</h1>

<ol>

    <li>Website: N.P.S., <a target="_blank" href="https://www.nps.gov/subjects/healthandsafety/health-benefits-of-parks.htm">www.NPS.org</a></li>
    <li>Website: 6 Reason why N.P.’s matter for health, <a target="_blank" href="https://www.rwjf.org/en/blog/2016/08/6_reasons_why_parks.html">www.rwjf.com</a></li>
    <li>Website: 5 Ways You Helped Improve National Park Air, <a target="_blank" href="https://www.npca.org/articles/979-5-ways-you-helped-improve-national-park-air-in-2015-and-another-way-to-take">www.npca.com</a></li>
    <li>Website: Dictionary, <a target="_blank" href="https://www.dictionary.com/">www.dictionary.com</a></li>

     <ol class=start="1">
    <li>Book: <a target="_blank" href="https://www.amazon.com/National-Geographic-Parks-Guide-Centennial/dp/142632314X/ref=sr_1_1?keywords=national+parks+guide+usa&qid=1557347398&s=gateway&sr=8-1">N.P.'s Guide USA</a>, Sarah Wessner Flynn and Julie Beer</li>

    </ol>
    </>


