@page
@model Oliver_ACT2019_Product.Web.Pages.CategoryModel
@{
    ViewData["Title"] = "Category";
}

<h1 class="text-center">Park Info</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="list-group">
            <div class="list-group-item">
                <h2 class="text-center">Sandwiches</h2>
            </div>
            <div class="list-group-item">
                <h3 class="text-center">Fries</h3>
            </div>
            <div class="list-group-item">
                <h3 class="text-center">Soda</h3>
            </div>
            <div class="list-group-item">
                <h3 class="text-center">Nugets</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="list-group">
            <div class="list-group-item">
                <a asp-page="region"class="text-center">Not Conected</a>
</div>
            <div class="list-group-item">
                <a asp-page="region"class="text-center">East</a>
            </div>
            <div class="list-group-item">
                <a asp-page="region"class="text-center">West</a>
            </div>
            <div class="list-group-item">
                <a asp-page="region"class="text-center">Central</a>
            </div>
        </div>
    </div>
</div>
