@page
@model Oliver_ACT2019_Product.Web.Pages.GlossaryModel
@{
    ViewData["Title"] = "Glossary";
}

<h1>Glossary</h1>

<ul>
    <li>Ozone-a form of oxygen,O3,harmful to human bodies</li>
    <li>Immune system-complex network of interacting cells</li>
    <li>wellbeing-a good or satisfactory condition of existence</li>
</ul>


