@page
@{
    ViewData["Title"] = "HealthBenefits";
}

<h1>Health Benefits</h1>
        <ul>
            <li> N.P.s help teens to improve physical health</li>
            <li> N.P.s help elderly people improve physical health</li>
            <li>Being outside makes you happy</li>
            <li>Going in the woods calms you down</li>
            <li>20 min in a nature helps concentration</li>
            <li>20 min in a nature helps reduce medications</li>
            <li> Listening to bird songs relieves stress</li>
            <li>Watching animals promotes wellbeing</li>
            <li>30 min in a nature helps your heart</li>
            <li> Nature boosts your immune system</li>
            <li> Walking through nature helps you improve your memory</li>
            <li> N.P.’s give kids a safe place to exercise</li>
            <li>Nature helps you get more exercise in the environment</li>
            <li> Exercising in nature helps your health</li>
            <li>Activities like biking and/or hiking can help your health</li>
            <li>Active play is encouraged which helps physical health</li>
            <li>N.P.’s help the environment be healthy which helps the U.S.A. be healthy</li>
            <li>Nature helps you get more exercise in the environment</li>
            <li>Exercising in nature helps your health</li>
            <li> Activities like biking and/or hiking can help your health</li>
            <li>N.P.’s increases the amount you go outside</li>
            </ul>
        </div>
