@page
@{
    ViewData["Title"] = "History";
}

<h1 class="text-center">History</h1>

<ul>
    <li>National initiative called “Healthy Parks, Healthy people US”(HPHP)</li>
    <li>HPHP was started in 2011</li>
    <li>HPHP promotes health of people and the environment</li>
    <li>HPHP advocates wildlife conservation</li>
    <li>HPHP works to establish partnerships with local government and businesses</li>

</ul>