@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Your health in National Parks can be hindered by pollution, but you can reduce air pollution by making simple changes.</h1>
    <p>Learn about national park and how your health can be damiged by pollution.</p>

    <div class="col-6">
        <div class="card">
            <a asp-page="Category" class="card-header">Park Info.</a>

            <a asp-page="Pros & Cons" class="card-header">Pros & Cons </a>

            <a asp-page="Solution/Take Action" class="card-header">Take Action</a>

            <a asp-page="Problems Related" class="card-header">Problems Related</a>

</div>
</div>
