@page
@{
    ViewData["Title"] = "Home page";
}

<style>
    .list-group-item h2 {
        margin: 0px;
        padding: 0px;
        margin-right: 10px;
    }
        body {color:;}
</style>
<style>
       a{color:cornflowerblue;}

    </style>
<div class="text-center">
    <h2 class="display-4"><b>Your health in National Parks can be hindered by pollution, but you can reduce air pollution by making simple changes.</b></h2>
    <p>Learn about national park and how your health can be damiged by pollution  and what you can do to help it.</p>
    <div class="text-left">
        <div class="row">
            <div class="col">
                <div class="list-group">
                    <a asp-page="History" class="list-group-item"><h2 class="fas fa-history"></h2>History</a>
                    <a asp-page="ParkInfo" class="list-group-item"><h2 class="fas fa-info-circle"></h2>Park Info</a>
                    <a asp-page="HealthBenefits" class="list-group-item"><h2 class="far fa-thumbs-up"></h2>Health Benifits</a>
                    <a asp-page="TypesOfHealth" class="list-group-item"><h2 class="fas fa-heartbeat"></h2>Types of Health</a>
                    <a asp-page="ProblemsWarnings" class="list-group-item"><h2 class="fas fa-radiation"></h2>Problems,Warnings</a>

                </div>
            </div>
            <div class="col">
                <div class="list-group">
                    <a asp-page="RelatedProblems" class="list-group-item"><h2 class="fas fa-exclamation-triangle"></h2>Related Problems</a>
                    <a asp-page="ProsConsPerspective" class="list-group-item"><h2 class="fas fa-balance-scale"></h2> Pros & Cons/Perspective</a>
                    <a asp-page="SolutionsTakeAction" class="list-group-item"><h2 class="fas fa-directions"></h2>Solutions Take Action</a>
                    <a asp-page="Glossary" class="list-group-item"><h2 class="fas fa-book-reader"></h2>Glossary</a>
                    <a asp-page="Bibliography" class="list-group-item"><h2 class="fas fa-book"></h2>Bibliography</a>
                </div>
            </div>
        </div>
            