@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Health in National Parks can be Hindered by Pollution</h1>
    <p>Learn about national park and how your health can be hurt by pollution.</p>

    <div class="col-6">
        <div class="card">
            <a asp-page="Category" class="card-header">Park Info.</a>
                
            </div>
        </div>
    </div>
</div>
