@page
@{
    ViewData["Title"] = "ParkInfo";
}

<h1 class="text-center">Park Info</h1>
<ul>
<li>N.P.’s are good for outdoor vacations</li>
<li>N.P.’s around  Massachusetts are healthy b/c the obama administration limited ozone</li>
<li>N.P.’s in Hawaii are healthy because of their air</li>
</ul>