@page
@{
    ViewData["Title"] = "ProblemsWarnings";
}

<h1 class="text-center">Problems Warnings</h1>

<h2 class="text-center">Problems</h2>
<ul>
    <li>Ozone is lower to the ground so we breathe more of it</li>
    <li>90% of N.P.’s are going to have climate change air pollution</li>
    <li>Lose visibility 50 miles or more</li>
</ul>

<h2 class="text-center">Warnings</h2>
<ul>
    <li>Ozone is harmful</li>
    <li>Stay on your intended route in case of emergencies</li>
    <li>Travel in groups when visiting national parks</li>
    <li>It’s important to contact park rangers and park websites for safety alerts</li>
    <li>Some use log books at trailheads to note when you enter and leave a trail to track your time/location in case you get lost</li>

</ul>




