@page
@{
}
<style>
    .table-bordered th {
        border-color: black;
    }

    .table-bordered td {
        border-color: black;
    }
</style>
<div>
    <h1 class="text-center">Pros & Cons Perspective</h1>
    <table class="table table-bordered" ">
        <tr>
            <th class="text-center"><h2><p><strong>Pros</strong></p></h2></th>
            <th class="text-center"><h2><p><strong>Cons</strong></p></h2></th>

        </tr>
        <tr>
            <td>
                <ul>
                    <li>Helps scientists to learn more about pollution and how you can stop it</li>
                    <li>Helps visitors interact and learn about pollution and how to stop it</li>
                    <Li>There are lots of partners for National Parks</Li>
                </ul>
            </td>
            <td>
                <ul>
                    <li>Pollution is lower to the ground so we breathe more of it</li>
                    <li>Ozone is harmful</li>
                    <li> Ozone is a colorless gas that we breathe</li>
                    <Li>Who is going to pay for this</Li>
                </ul>
            </td>
        </tr>

    </table>

    <h2 class="text-center">Perspective</h2>
    <p>After analyzing the pros and cons, I think health in N.P.’s can be hindered by pollution.  One reason this is a problem is b/c it is heavier than air so it is lower to the ground.  According to the N.P.S. website,pollution is made by 1 major source usually factories.  Another reason is OZONE IS VERY HARMFUL.  According to the N.P.S. website,the ozone is a colorless odorless gas that can kill us.   Once again that's why I think health in N.P.’s can be hindered by pollution.</p>
</div>
<img>https://lh3.googleusercontent.com/zD5xLWOiu6u-AR7IAdvFYT0mxU4oeg1uPg-mKrni6Y0zaoCZrqFhyfQ6DSlgIRikeeTQ_pN5jpmw2-9H9Zt0arttIp6s3SoQYwF0pUB-j8Zzb5vM0QrlXaQ06sSanYYuUqtvlKcd

