@page
@{
}

<h1>Related Problems</h1>
<td>
<!DOCTYPE html>
<html>
<body>
    <ul>
      <li>  When people come to N.P.s in plane,car,or boat it makes pollution</li>
        </ul>
    <ul style ="list-style-type:circle;">
        <li>    Who is going to stop this?</li>
        <li>    Does this require money?</li>
        <li>    Extreme weather changes</li>
        <li>    Time</li>
        <li>    Disrespectfulness</li>
        </ul style="list-style-type:circle;">
</body>
</html>
        </td>