@page
@{
    ViewData["Title"] = "SolutionsTakeAction";
}

<h1>Solutions Take Action</h1>
<h2 class="text-center">Solution</h2>
<ul style="list-style-type:circle;">
    <li>The U.S. is starting to limit ozone</li>
    <li>Obama administration leveled the amount of nitrogen oxide</li>
    <li>Obama administration limited carbon emission nationwide</li>
    <li>Cleaner air in surrounding community</li>
    <li>The U.S. is keeping better air counity</li>
</ul>

<h2 class="text-center">Take Action</h2>
<p>My solution is Reduce Air Pollution.  Conserve energy at home, at school, and everywhere.  Look for the ENERGY STAR label when buying home equipment.  Carpool, use public transportation, bike, or walk whenever possible.  Those are some things I can do to Reduce Air Pollution.</p>