@page
@{
}

<h1 class="text-center">Types of Health</h1>

<ul>
    <li>National parks help grow social health</li>
    <li>National parks help people with mental,physical,and sperchil health</li>
    <li>Playing in a green space helps social interactions</li>
</ul>